<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aqsès - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
