<style>
    h2.ui.horizontal.divider.header {
        margin: 50px 0px 20px 0px !important;
    }
</style>

<h2 style="color: var(--clr-nav);" class="ui horizontal divider header">
    <i class="{{ icon }} icon"></i>
    {{ title|upper }}
</h2>